asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
colorthief==0.2.1
Django==3.0.3
django-cors-headers==3.2.1
djangorestframework==3.11.0
idna==2.8
joblib==0.14.1
numpy==1.22.0
opencv-python==4.2.0.32
Pillow==7.0.0
pytz==2019.3
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
sqlparse==0.3.0
urllib3==1.25.8
